*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:linear-gradient(5deg, #ce17b0, #242cb2, #372b6b, #a90f7c);

}
.pokemonAbout {
    width: 450px;
    height: 600px;
    margin: 10px;
    font-family: 'Courier New',Courier,monospace ;
    font-weight: bold;
    color: white;
    background-color: #9f9707;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    box-shadow: 4px 4px 20px rgba(19, 166, 19, 0.75);
    border-radius: 10px;
    cursor: pointer;

}